/*----------*/
/*  CONFIG  */
/*----------*/

/* URL */
$url_font:"../font";
$url_img:"../img";

/* RESPONSIVE */
$nb_columns_grid:12;
$size_gutter:1em;
$size_small:0px;
$size_medium:860px;
$size_large:1280px;
$size_extra:1440px;
$size_grid_zone:80%;

/* SIZE HEADER */
$size_header_small:3em;
$size_header_large:4em;
$size_menu_responsive:100%;

/* SIZE FOOTER */
$size_footer_small:4em;
$size_footer_large:6em;



/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/