/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*----------*/
/*  GLOBAL  */
/*----------*/
/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*-----------*/
/*  DEFAULT  */
/*-----------*/
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #D9D9D9;
  scroll-behavior: smooth; }

/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*--------*/
/*  TEXT  */
/*--------*/
h1, h2, p, a {
  line-height: 1.2em;
  text-decoration: none;
  text-transform: none; }

h1, h2 {
  font-family: cantarell; }

p, a {
  font-family: cantarell; }

h1 {
  text-align: center;
  font-size: 1.5em;
  color: #059AC6; }

h2 {
  padding-left: 0.8em;
  text-align: left;
  font-size: 1.2em;
  color: #0F4961; }

p, a {
  text-align: justify;
  font-size: 1em;
  color: #0F4961; }

/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*----------*/
/*  HEADER  */
/*----------*/
/* VARIABLES */
/* NAV_BAR */
header#begin {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0em 0em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0em 0em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0em 0em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0em 0em 0.1em 0.1em rgba(0, 0, 0, 0.1);
  z-index: 10; }
  @media all and (max-width: 860px) {
    header#begin {
      height: 3em; } }
  @media all and (min-width: 860px) {
    header#begin {
      height: 4em; } }

.nav_bar_state_0 {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
  color: #3B3B3B;
  /*ul li a*/ }
  @media all and (max-width: 860px) {
    .nav_bar_state_0 {
      top: 1em; } }
  @media all and (min-width: 860px) {
    .nav_bar_state_0 {
      top: 2em; } }

.nav_bar_state_1 {
  display: none;
  position: fixed;
  top: -4em;
  background-color: white;
  opacity: 0;
  transition: 0.25s; }

.nav_bar_state_2 {
  display: none;
  top: 0;
  opacity: 1;
  transition: 0.5s; }

/* TITLE */
section#company {
  float: left;
  width: auto; }
  @media all and (max-width: 860px) {
    section#company {
      margin-left: 0.5em;
      height: 3em; } }
  @media all and (min-width: 860px) {
    section#company {
      margin-left: 1em;
      height: 4em; } }

section#company a {
  font-family: lato;
  font-weight: bold;
  color: #3B3B3B;
  letter-spacing: 0.025em;
  text-align: center;
  text-decoration: none;
  text-transform: none; }
  @media all and (max-width: 860px) {
    section#company a {
      font-size: 1.4em;
      line-height: 2.2em; } }
  @media all and (min-width: 860px) {
    section#company a {
      font-size: 1.5em;
      line-height: 2.5em; } }

/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*---------------*/
/*  HEADER MENU  */
/*---------------*/
/* VARIABLES */
/* SIZE */
nav#menu {
  float: right; }
  @media all and (max-width: 860px) {
    nav#menu {
      width: 100%;
      height: auto; } }
  @media all and (min-width: 860px) {
    nav#menu {
      width: auto;
      height: 100%; } }

/* MENU RESPONSIVE */
input#input_menu[type="checkbox"] {
  display: none; }

@media all and (max-width: 860px) {
  label#label_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    background-image: url(../img/nav_cmd_on.svg), url(../img/nav_cmd_off.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 3em 50%;
    background-size: 50%, 50%;
    cursor: pointer;
    transition: background-position 0.25s linear 0.25s;
    -webkit-transition: background-position 0.25s linear 0.25s;
    -moz-transition: background-position 0.25s linear 0.25s;
    -o-transition: background-position 0.25s linear 0.25s;
    z-index: 10; }

  input#input_menu[type="checkbox"]:checked ~ label#label_menu {
    transition: background-position 0.25s linear 0.25s;
    -webkit-transition: background-position 0.25s linear 0.25s;
    -moz-transition: background-position 0.25s linear 0.25s;
    -o-transition: background-position 0.25s linear 0.25s;
    background-position: -3em 50%, 50% 50%; }

  div#font_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.5s linear 0s, left 0s linear 0.5s;
    -webkit-transition: background-color 0.5s linear 0s, left 0s linear 0.5s;
    -moz-transition: background-color 0.5s linear 0s, left 0s linear 0.5s;
    -o-transition: background-color 0.5s linear 0s, left 0s linear 0.5s; }

  input#input_menu[type="checkbox"]:checked ~ div#font_menu {
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: left 0s linear 0s, background-color 0.5s linear 0s;
    -webkit-transition: left 0s linear 0s, background-color 0.5s linear 0s;
    -moz-transition: left 0s linear 0s, background-color 0.5s linear 0s;
    -o-transition: left 0s linear 0s, background-color 0.5s linear 0s; } }
@media all and (min-width: 860px) {
  label#label_menu, div#font_menu {
    display: none; } }
@media all and (max-width: 860px) {
  ul#list_menu {
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 5em;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: calc(0% + 1em) calc(100% - 1em);
    background-size: auto 25%;
    transition: right 0.5s ease-in 0s;
    -webkit-transition: right 0.5s ease-in 0s;
    -moz-transition: right 0.5s ease-in 0s;
    -o-transition: right 0.5s ease-in 0s;
    z-index: 5; }

  input[type="checkbox"]:checked ~ ul#list_menu {
    right: 0;
    transition: right 0.5s ease-out 0s;
    -webkit-transition: right 0.5s ease-out 0s;
    -moz-transition: right 0.5s ease-out 0s;
    -o-transition: right 0.5s ease-out 0s; } }
@media all and (min-width: 860px) {
  ul#list_menu {
    width: auto;
    height: 100%; } }
@media all and (max-width: 860px) {
  ul#list_menu li {
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(150, 150, 150, 0);
    transition: background-color 0.2s linear 0s;
    -webkit-transition: background-color 0.2s linear 0s;
    -moz-transition: background-color 0.2s linear 0s;
    -o-transition: background-color 0.2s linear 0s; }
    ul#list_menu li:hover {
      background-color: #969696;
      transition: background-color 0.2s linear 0s;
      -webkit-transition: background-color 0.2s linear 0s;
      -moz-transition: background-color 0.2s linear 0s;
      -o-transition: background-color 0.2s linear 0s; } }
@media all and (min-width: 860px) {
  ul#list_menu li {
    display: inline-block;
    margin-left: 0.6em;
    margin-right: 0.6em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    width: auto;
    height: 100%;
    background-image: url(../img/nav_underline.svg);
    background-repeat: repeat-x;
    background-position: 50% calc(100% + 0.15em);
    background-size: auto 0.15em;
    transition: background-position 0.2s ease-in 0s;
    -webkit-transition: background-position 0.2s ease-in 0s;
    -moz-transition: background-position 0.2s ease-in 0s;
    -o-transition: background-position 0.2s ease-in 0s; }
    ul#list_menu li:hover {
      background-position: 50% calc(100% - 0.8em);
      transition: background-position 0.2s ease-out 0s;
      -webkit-transition: background-position 0.2s ease-out 0s;
      -moz-transition: background-position 0.2s ease-out 0s;
      -o-transition: background-position 0.2s ease-out 0s; } }

ul#list_menu li a {
  font-family: vollkorn;
  display: block;
  letter-spacing: 0.02em; }
  @media all and (max-width: 860px) {
    ul#list_menu li a {
      font-size: 1.5em;
      line-height: 2.2em;
      text-align: center;
      line-height: 2em;
      font-weight: none;
      color: #3B3B3B; } }
  @media all and (min-width: 860px) {
    ul#list_menu li a {
      font-size: 1.2em;
      line-height: 3.1em;
      /*5em - 1.2em*/
      text-align: center;
      font-weight: bold;
      color: #969696; } }

/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*-----------*/
/*  CONTAIN  */
/*-----------*/
/* VARIABLES */
/* CONTAIN SECTION */
section#contain {
  width: 100%; }
  @media all and (max-width: 860px) {
    section#contain {
      min-height: calc(100% - 4em); } }
  @media all and (min-width: 860px) {
    section#contain {
      min-height: calc(100% - 6em); } }

/* MAIN SECTION */
.main_section {
  width: 100%;
  height: auto; }

.main_section section {
  width: 100%;
  min-height: 25vh; }

/* EXTRAIT SECTION */
.extrait {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed; }

section#home_section .extrait {
  background-image: url(../img/logo.svg), url(../img/vintage-sweater-retro-wool.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;
    background-size:  70% auto, 100%;
}

section#product, section#gm
{
  background-color:#FFD8D8;
}

section#gm
{
  background-color:#E99B9B;
}

.center_img
{
  text-align: center;
}

/* ARTICLES */
.main_section article {
  padding-top: 1em;
  padding-bottom: 1em; }

/*----------*/
/*  CONFIG  */
/*----------*/
/* URL */
/* RESPONSIVE */
/* SIZE HEADER */
/* SIZE FOOTER */
/*
ajouter gestion des couleurs
#D9D9D9 : body
#FFFFFF : nav_bar
mettre couleur sur h1, h2, p, a

*/
/*----------*/
/*  FOOTER  */
/*----------*/
/* VARIABLES */
footer#end {
  width: 100%;
  background-color: #3B3B3B; }
  @media all and (max-width: 860px) {
    footer#end {
      height: 4em; } }
  @media all and (min-width: 860px) {
    footer#end {
      height: 6em; } }

/*# sourceMappingURL=global.css.map */
